body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(187, 187, 245);
}

nav img {
    height: 60px;
    width: 100px;
}

nav li {
    
    text-transform: uppercase;
    margin-left: 7rem;
}
